<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
 <title th:text="'VF4: ' + (${player.ringName} ?: '(none)')">VF4: </title>
 <link rel="stylesheet" type="text/css" media="all" href="../../css/default.css" th:href="@{/css/default.css}"/>
</head>
<body>
    <div>
  	  <div class="logo">
  	    <img src="../../images/flycast.png" alt="Flycast logo" title="Flycast logo" 
          th:src="@{/images/flycast.png}" width="64" height="64" />
	    <h2>
          Customize Player
        </h2>
      </div>
      <form action="#" th:action="@{player}" th:object="${player}" method="post">
        <input type="hidden" th:field="${player.id}" />
        <input type="hidden" th:field="${player.cardId}" />
        <fieldset>
        	<legend>Player Data</legend>
        	
        	<ul th:if="${#fields.hasErrors('*')}" class="errorlist">
	            <li th:each="err : ${#fields.errors('*')}" th:text="${err}">Input is incorrect</li>
          	</ul>
          	<div>
          	  <label for="cardId">ID</label>
          	  <span id="cardId" th:text="${player.cardId}">123</span>
          	</div>
          	<div>
          	  <label for="character">Character</label>
          	  <span id="character" th:text="${player.characterName}">Goh</span>
          	</div>
          	<div>
          	  <label>Stats</label>
          	  Level: <span th:text="${player.level}">2</span>
          	  XP Points: <span th:text="${player.expPoints}">204</span>
          	  Wins: <span th:text="${player.wins}">2</span>
          	  Losses: <span th:text="${player.losses}">2</span>
          	</div>
          	<div>
          	  <label for="ringName">Ring Name</label>
          	  <input type="text" th:field="*{ringName}" size="20" th:errorclass="fieldError" />
          	</div>
          	<div>
          	  <label for="clanName">Clan Name</label>
          	  <input type="text" th:field="*{clanName}" size="20" th:errorclass="fieldError" />
          	</div>
          	<div th:if="${player.gameId == 2}">
          	  <label for="presentation">Presentation</label>
          	  <textarea name="presentation" cols="30" rows="3" th:field="*{presentation}" th:errorclass="fieldError">Hello world</textarea>
          	</div>
          	<div th:if="${player.gameId == 2}">
          	  <label for="altMove1">Alternate Moves</label>
          	  <label for="altMove1">A</label> <input type="checkbox" th:field="*{altMove1}" th:errorclass="fieldError" />
          	  <label for="altMove1">B</label> <input type="checkbox" th:field="*{altMove2}" th:errorclass="fieldError" />
          	</div>
          	<div th:unless="${advanced}">
				<label for="colors">P1 Colors</label>
                <table>
                  <tr>
                    <th th:text="${colors.getColorItem(player.character, 0, 0)}">Shirt</th>
                    <th th:text="${colors.getColorItem(player.character, 0, 1)}">Pants</th>
                    <th th:text="${colors.getColorItem(player.character, 0, 2)}">Socks</th>
                    <th th:text="${colors.getColorItem(player.character, 0, 3)}">Shoes</th>
                    <th th:if="${player.gameId != 0}">Hair</th>
                    <th th:if="${player.gameId != 0}">Eyes</th>
                  </tr>
                  <tr>
                    <td>
	                  <select th:field="*{p1Color0}">
	                    <option th:each="color,iter : ${colors.getPalette(player.character, 0)}" th:text="${color}" th:value="${iter.index}">Red</option>
	                  </select>
	                </td>
                    <td>
	                  <select th:field="*{p1Color1}">
	                    <option th:each="color,iter : ${colors.getPalette(player.character, 0)}" th:text="${color}" th:value="${iter.index}">Green</option>
	                  </select>
	                </td>
                    <td>
	                  <select th:field="*{p1Color2}">
	                    <option th:each="color,iter : ${colors.getPalette(player.character, 0)}" th:text="${color}" th:value="${iter.index}">Blue</option>
	                  </select>
	                </td>
                    <td>
	                  <select th:field="*{p1Color3}">
	                    <option th:each="color,iter : ${colors.getPalette(player.character, 0)}" th:text="${color}" th:value="${iter.index}">Default</option>
	                  </select>
	                </td>
                    <td th:if="${player.gameId != 0}">
	                  <select th:field="*{p1Color4}">
	                    <option th:each="color,iter : ${colors.getHairPalette(player.character)}" th:text="${color}" th:value="${iter.index}">Blonde</option>
	                  </select>
	                </td>
                    <td th:if="${player.gameId != 0}">
	                  <select th:field="*{p1Color5}">
	                    <option th:each="color,iter : ${colors.getHairPalette(player.character)}" th:text="${color}" th:value="${iter.index}">Red</option>
	                  </select>
	                </td>
	              </tr>
	            </table>
          	</div>
          	<div th:unless="${advanced}">
				<label for="colors">P2 Colors</label>
                <table>
                  <tr>
                    <th th:text="${colors.getColorItem(player.character, 1, 0)}">Shirt</th>
                    <th th:text="${colors.getColorItem(player.character, 1, 1)}">Pants</th>
                    <th th:text="${colors.getColorItem(player.character, 1, 2)}">Socks</th>
                    <th th:text="${colors.getColorItem(player.character, 1, 3)}">Shoes</th>
                    <th th:if="${player.gameId != 0}">Hair</th>
                    <th th:if="${player.gameId != 0}">Eyes</th>
                  </tr>
                  <tr>
                    <td>
	                  <select th:field="*{p2Color0}">
	                    <option th:each="color,iter : ${colors.getPalette(player.character, 1)}" th:text="${color}" th:value="${iter.index}">Red</option>
	                  </select>
	                </td>
                    <td>
	                  <select th:field="*{p2Color1}">
	                    <option th:each="color,iter : ${colors.getPalette(player.character, 1)}" th:text="${color}" th:value="${iter.index}">Green</option>
	                  </select>
	                </td>
                    <td>
	                  <select th:field="*{p2Color2}">
	                    <option th:each="color,iter : ${colors.getPalette(player.character, 1)}" th:text="${color}" th:value="${iter.index}">Blue</option>
	                  </select>
	                </td>
                    <td>
	                  <select th:field="*{p2Color3}">
	                    <option th:each="color,iter : ${colors.getPalette(player.character, 1)}" th:text="${color}" th:value="${iter.index}">Default</option>
	                  </select>
	                </td>
                    <td th:if="${player.gameId != 0}">
	                  <select th:field="*{p2Color4}">
	                    <option th:each="color,iter : ${colors.getHairPalette(player.character)}" th:text="${color}" th:value="${iter.index}">Blonde</option>
	                  </select>
	                </td>
                    <td th:if="${player.gameId != 0}">
	                  <select th:field="*{p2Color5}">
	                    <option th:each="color,iter : ${colors.getHairPalette(player.character)}" th:text="${color}" th:value="${iter.index}">Red</option>
	                  </select>
	                </td>
	              </tr>
	            </table>
          	</div>
          	<div th:if="${advanced}">
          	  <label for="color">Raw Colors</label>
          	  <input type="text" th:field="*{color}" size="20" th:errorclass="fieldError" />
          	</div>
            <div th:unless="${advanced}">
                <label for="equip">P1 Equipment</label>
                <table>
                  <tr><th>Head</th><th>Face</th><th>Body</th><th>Legs</th></tr>
                  <tr>
                   <td>
	                <select th:field="*{p1HeadEquip}">
	                  <option th:each="entry : ${items.getHeadItems(player.character, false).entrySet()}" th:text="${entry.value}" th:value="${entry.key}">Sword</option>
	                </select>
	               </td>
                   <td>
	                <select th:field="*{p1FaceEquip}">
	                  <option th:each="entry : ${items.getFaceItems(player.character, false).entrySet()}" th:text="${entry.value}" th:value="${entry.key}">Sword</option>
	                </select>
	               </td>
                   <td>
	                <select th:field="*{p1BodyEquip}">
	                  <option th:each="entry : ${items.getBodyItems(player.character, false).entrySet()}" th:text="${entry.value}" th:value="${entry.key}">Sword</option>
	                </select>
	               </td>
                   <td>
	                <select th:field="*{p1LegsEquip}">
	                  <option th:each="entry : ${items.getLegsItems(player.character, false).entrySet()}" th:text="${entry.value}" th:value="${entry.key}">Sword</option>
	                </select>
	               </td>
                  </tr>
                  <tr>
                   <td>
	                <img th:src="@{${itemImageResolver.getImage(player.character, false, player.p1HeadEquip)}}" src="/images/items/nopic.gif" />
	               </td>
                   <td>
	                <img th:src="@{${itemImageResolver.getImage(player.character, false, player.p1FaceEquip)}}" src="/images/items/nopic.gif" />
	               </td>
                   <td>
	                <img th:src="@{${itemImageResolver.getImage(player.character, false, player.p1BodyEquip)}}" src="/images/items/nopic.gif" />
	               </td>
                   <td>
	                <img th:src="@{${itemImageResolver.getImage(player.character, false, player.p1LegsEquip)}}" src="/images/items/nopic.gif" />
	               </td>
	              </tr>
            	</table>
            </div>
            <div th:unless="${advanced}">
                <label for="equip">P2 Equipment</label>
                <table>
                  <tr><th>Head</th><th>Face</th><th>Body</th><th>Legs</th></tr>
                  <tr>
                   <td>
	                <select th:field="*{p2HeadEquip}">
	                  <option th:each="entry : ${items.getHeadItems(player.character, true).entrySet()}" th:text="${entry.value}" th:value="${entry.key}">Sword</option>
	                </select>
	               </td>
                   <td>
	                <select th:field="*{p2FaceEquip}">
	                  <option th:each="entry : ${items.getFaceItems(player.character, true).entrySet()}" th:text="${entry.value}" th:value="${entry.key}">Sword</option>
	                </select>
	               </td>
                   <td>
	                <select th:field="*{p2BodyEquip}">
	                  <option th:each="entry : ${items.getBodyItems(player.character, true).entrySet()}" th:text="${entry.value}" th:value="${entry.key}">Sword</option>
	                </select>
	               </td>
                   <td>
	                <select th:field="*{p2LegsEquip}">
	                  <option th:each="entry : ${items.getLegsItems(player.character, true).entrySet()}" th:text="${entry.value}" th:value="${entry.key}">Sword</option>
	                </select>
                   </td>
                  </tr>
                  <tr>
                   <td>
	                <img th:src="@{${itemImageResolver.getImage(player.character, true, player.p2HeadEquip)}}" src="/images/items/nopic.gif" />
	               </td>
                   <td>
	                <img th:src="@{${itemImageResolver.getImage(player.character, true, player.p2FaceEquip)}}" src="/images/items/nopic.gif" />
	               </td>
                   <td>
	                <img th:src="@{${itemImageResolver.getImage(player.character, true, player.p2BodyEquip)}}" src="/images/items/nopic.gif" />
	               </td>
                   <td>
	                <img th:src="@{${itemImageResolver.getImage(player.character, true, player.p2LegsEquip)}}" src="/images/items/nopic.gif" />
	               </td>
	              </tr>
                </table>
            </div>
            <div th:if="${advanced}">
                <label for="equip">Raw Equipment</label>
                <input type="text" th:field="*{equip}" size="16" /> (Experts only)
            </div>
            <div th:unless="${advanced}">
                <label for="emblem1">Emblem</label>
                <table>
	                <tr>
	                  <td>
		                <select th:field="*{emblem1}">
		                	<option value="0"></option>
		                	<option value="1">A</option>
		                	<option value="2">B</option>
		                	<option value="3">C</option>
		                	<option value="4">D</option>
		                	<option value="5">E</option>
		                	<option value="6">F</option>
		                	<option value="7">G</option>
		                	<option value="8">H</option>
		                	<option value="9">I</option>
		                	<option value="10">J</option>
		                	<option value="11">K</option>
		                	<option value="12">L</option>
		                	<option value="13">M</option>
		                	<option value="14">N</option>
		                	<option value="15">O</option>
		                	<option value="16">P</option>
		                	<option value="17">Q</option>
		                	<option value="18">R</option>
		                	<option value="19">S</option>
		                	<option value="20">T</option>
		                	<option value="21">U</option>
		                	<option value="22">V</option>
		                	<option value="23">W</option>
		                	<option value="24">X</option>
		                	<option value="25">Y</option>
		                	<option value="26">Z</option>
		                	<option value="27">Alpha</option>
		                	<option value="28">Beta</option>
		                	<option value="29">Gamma</option>
		                	<option value="30">A in a drop</option>
		                	<option value="31">Cobra</option>
		                	<option value="32">Wolf</option>
		                	<option value="33">Scorpion</option>
		                	<option value="34">Eagle</option>
		                	<option value="35">Bat</option>
		                	<option value="36">Polar bear</option>
		                	<option value="37">Pink tile</option>
		                	<option value="38">Green tile/option>
		                	<option value="39">Purple tile</option>
		                	<option value="40">Wavy tile</option>
		                	<option value="41">Blue tile</option>
		                	<option value="42">Net tile</option>
		                	<option value="43">Coat of arms 1</option>
		                	<option value="44">Coat of arms 2</option>
		                	<option value="45">Coat of arms 3</option>
		                	<option value="46">Coat of arms 4</option>
		                	<option value="47">Coat of arms 5</option>
		                	<option value="48">Coat of arms 6</option>
		                	<option value="49">Mouse head</option>
		                	<option value="50">Bull head</option>
		                	<option value="51">Tiger head</option>
		                	<option value="52">Rabbit head</option>
		                	<option value="53">Lion demon</option>
		                	<option value="54">Snake head</option>
		                	<option value="55">Horse head</option>
		                	<option value="56">Ram head</option>
		                	<option value="57">Monkey head</option>
		                	<option value="58">Rooster head</option>
		                	<option value="59">Cat head</option>
		                	<option value="60">Hog head</option>
		                	<option value="61">Candies</option>
		                	<option value="62">Tea</option>
		                	<option value="63">Shell</option>
		                	<option value="64">Sushis</option>
		                	<option value="65">Coffee mug</option>
		                	<option value="66">Food bowl</option>
		                	<option value="67">Tou kanji 投</option>
		                	<option value="68">Mukai kanji 迎</option>
		                	<option value="69">Hame katakana ハメ</option>
		                	<option value="70">Mori/Mamoru kanji 守</option>
		                	<option value="71">Osamu kanji 攻</option>
		                	<option value="72">Machi kanji 待</option>
		                	<option value="73">Take kanji 武</option>
		                	<option value="74">Tou kanji 闘</option>
		                	<option value="75">Ken kanji 拳</option>
		                	<option value="76">Geki kanji 撃</option>
		                	<option value="77">Kai kanji 壊</option>
		                	<option value="78">Shou kanji 勝</option>
		                	<option value="79">Dragon</option>
		                	<option value="80">Kappa</option>
		                	<option value="81">Vampire</option>
		                	<option value="82">Cyclop scientist</option>
		                	<option value="83">Blue flame</option>
		                	<option value="84">Frankenstein</option>
		                	<option value="85">Crest</option>
		                	<option value="86">Heart with fire</option>
		                	<option value="87">Girl with glasses</option>
		                	<option value="88">Fortune cat</option>
		                	<option value="89">Cupid</option>
		                	<option value="90">Devil</option>
		                	<option value="91">Sonic</option>
		                	<option value="92">Opa-Opa</option>
		                	<option value="93">Alex Kidd</option>
		                	<option value="94">Nights</option>
		                	<option value="95">Sega 1</option>
		                	<option value="96">Professor Asobin</option>
		                	<option value="97">Amigo</option>
		                	<option value="98">Myau</option>
		                	<option value="99">Nei</option>
		                	<option value="100">Tails</option>
		                	<option value="101">Sega 2</option>
		                	<option value="102">Pengo</option>
		                	<option value="103">Sega 3</option>
		                	<option value="104">Yellow Morolian</option>
		                	<option value="105">Ulala</option>
		                	<option value="106">Altered Beast</option>
		                	<option value="107">Space Harrier</option>
		                	<option value="108">Gilius Thunderhead</option>
		                	<option value="109">Ling Shenhua</option>
		                	<option value="110">Volleyball</option>
		                	<option value="111">Bahn</option>
		                	<option value="112">Candy/Honey</option>
		                	<option value="113">Ryo Hazuki</option>
		                	<option value="114">AM2 logo</option>
		                	<option value="115">Sun</option>
		                	<option value="116">Moon</option>
		                	<option value="117">Rainbow star</option>
		                	<option value="118">Earth</option>
		                	<option value="119">UFO</option>
		                	<option value="120">Alien</option>
		                	<option value="121">Kagami mochi</option>
		                	<option value="122">Chocolate heart</option>
		                	<option value="123">Fortune teller</option>
		                	<option value="124">Sakura flower</option>
		                	<option value="125">Koinobori</option>
		                	<option value="126">Snail</option>
		                	<option value="127">Cicada</option>
		                	<option value="128">Watermelon</option>
		                	<option value="129">Stockpiled dango</option>
		                	<option value="130">Maple leaf</option>
		                	<option value="131">Snowman</option>
		                	<option value="132">Santa</option>
		                	<option value="133">Aries</option>
		                	<option value="134">Taurus</option>
		                	<option value="135">Gemini</option>
		                	<option value="136">Cancer</option>
		                	<option value="137">Leo</option>
		                	<option value="138">Virgo</option>
		                	<option value="139">Libra</option>
		                	<option value="140">Scorpius</option>
		                	<option value="141">Sagittarius</option>
		                	<option value="142">Capricornus</option>
		                	<option value="143">Aquarius</option>
		                	<option value="144">Pisces</option>
		                	<option value="145">Hokkaido region</option>
		                	<option value="146">Touhoku region</option>
		                	<option value="147">Kanto region</option>
		                	<option value="148">Tokyo area</option>
		                	<option value="149">Hokuriku region</option>
		                	<option value="150">Chubu region</option>
		                	<option value="151">Osaka area</option>
		                	<option value="152">Kansai/Kinki region</option>
		                	<option value="153">Chugoku region</option>
		                	<option value="154">Shikoku region</option>
		                	<option value="155">Kyushu region</option>
		                	<option value="156">Okinawa region</option>
		                	<option value="157">Akira</option>
		                	<option value="158">Kage</option>
		                	<option value="159">Jacky</option>
		                	<option value="160">Sarah</option>
		                	<option value="161">Lau</option>
		                	<option value="162">Pai</option>
		                	<option value="163">Wolf</option>
		                	<option value="164">Jeffry</option>
		                	<option value="165">Shun</option>
		                	<option value="166">Lion</option>
		                	<option value="167">Aoi</option>
		                	<option value="168">Lei-fei</option>
		                	<option value="169">Vanessa</option>
		                	<option value="170">Goh</option>
		                	<option value="171">Brad</option>
		                	<option value="172">Dural</option>
		                	<option value="173">T-Arashi</option>
		                	<option value="174">Siba (Majid)</option>
		                </select>
		              </td>
		            </tr>
		            <tr>
		              <td>
		                <img th:src="@{${'/images/emblems/' + player.emblem1 + '.png'}}" src="/images/items/nopic.gif" width="64" height="64" />
		              </td>
		            </tr>
		        </table>
            </div>
            <div th:if="${advanced}">
                <label for="emblem1">Raw Emblems</label>
                <table>
	                <tr>
	                  <td>
		                <input type="text" th:field="*{emblem1}" size="2" />
		              </td>
		              <td>
		                <input type="text" th:field="*{emblem2}" size="2" />
		              </td>
		            </tr>
		            <tr>
		              <td>
		                <img th:src="@{${'/images/emblems/' + player.emblem1 + '.png'}}" src="/images/items/nopic.gif" width="64" height="64" />
		              </td>
		            </tr>
		        </table>
            </div>
            <div th:unless="${param.message == null}">
	          	<span th:text="${param.message}">changes saved</span>
            </div>
          	<div class="submit">
          	  <button type="submit" name="save">&nbsp;&nbsp;Save&nbsp;&nbsp;</button>
          	</div>
        </fieldset>
      </form>
    </div> 
    <div class="matchList"  th:unless="${#lists.isEmpty(matchList)}">
    	<h2>Match List</h2>
    	
      <table>
        <thead>
          <tr>
            <th>Date</th>
            <th>Winner</th>
            <th>Looser</th>
            <th>Chain of Win</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="match : ${matchList}">
            <td th:text="${match.endTime}">13/01/2011</td>
            <td>
            	<!-- a th:if="${match.winner.cardId != player.cardId}"
            	   th:href="@{player-view(id=${match.winner.cardId})}">
            	   <span th:text="${match.winner.ringName} ?: (none)">Joe</span></a>
                <span th:if="${match.winner.cardId == player.cardId}" th:text="${match.winner.ringName} ?: (none)">Jack</span -->
                <span th:text="${match.winner.ringName} ?: (none)">Jack</span>
            </td>
            <td>
            	<!-- a th:if="${match.looser.cardId != player.cardId}"
            	   th:href="@{player-view(id=${match.looser.cardId})}">
            	   <span th:text="${match.looser.ringName} ?: (none)">Joe</span></a>
                <span th:if="${match.looser.cardId == player.cardId}" th:text="${match.looser.ringName} ?: (none)">Jack</span -->
                <span th:text="${match.looser.ringName} ?: (none)">Jack</span>
            </td>
            <td th:text="${match.chainOfWin}">2</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="footer">
    	Source: Virtua Fighter 4 Evolution Complete Guide, virtuafighter.com and the VF discord community<br>
    	Virtua Fighter and all related material © SEGA
    </div>
</body>
</html>