<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
 <title th:text="'VF4: ' + (${player.ringName} ?: '(none)')">VF4: </title>
 <link rel="stylesheet" type="text/css" media="all" href="../../css/default.css" th:href="@{/css/default.css}"/>
</head>
<body>
    <div>
  	  <div class="logo">
  	    <img src="../../images/flycast.png" alt="Flycast logo" title="Flycast logo" 
          th:src="@{/images/flycast.png}" width="64" height="64" />
	    <h2>
          Customize Player
        </h2>
      </div>
      <form action="#" th:action="@{player}" th:object="${player}" method="post">
        <input type="hidden" th:field="${player.id}" />
        <input type="hidden" th:field="${player.cardId}" />
        <fieldset>
        	<legend>Player Data</legend>
        	
        	<ul th:if="${#fields.hasErrors('*')}" class="errorlist">
	            <li th:each="err : ${#fields.errors('*')}" th:text="${err}">Input is incorrect</li>
          	</ul>
          	<div>
          	  <label for="cardId">ID</label>
          	  <span id="cardId" th:text="${player.cardId}">123</span>
          	</div>
          	<div>
          	  <label for="character">Character</label>
          	  <span id="character" th:text="${player.characterName}">Goh</span>
          	</div>
          	<div>
          	  <label>Stats</label>
          	  Level: <span th:text="${player.level}">2</span>
          	  XP Points: <span th:text="${player.expPoints}">204</span>
          	  Wins: <span th:text="${player.wins}">2</span>
          	  Losses: <span th:text="${player.losses}">2</span>
          	</div>
          	<div>
          	  <label for="ringName">Ring Name</label>
          	  <input type="text" th:field="*{ringName}" size="20" th:errorclass="fieldError" />
          	</div>
          	<div>
          	  <label for="clanName">Clan Name</label>
          	  <input type="text" th:field="*{clanName}" size="20" th:errorclass="fieldError" />
          	</div>
          	<div th:if="${player.gameId == 2}">
          	  <label for="presentation">Presentation</label>
          	  <textarea name="presentation" cols="30" rows="3" th:field="*{presentation}" th:errorclass="fieldError">Hello world</textarea>
          	</div>
          	<div th:if="${player.gameId == 2}">
          	  <label for="altMove1">Alternate Moves</label>
          	  <label for="altMove1">A</label> <input type="checkbox" th:field="*{altMove1}" th:errorclass="fieldError" />
          	  <label for="altMove1">B</label> <input type="checkbox" th:field="*{altMove2}" th:errorclass="fieldError" />
          	</div>
          	<div th:unless="${advanced}">
				<label for="colors">P1 Colors</label>
                <table>
                  <tr>
                    <th th:text="${colors.getColorItem(player.character, 0, 0)}">Shirt</th>
                    <th th:text="${colors.getColorItem(player.character, 0, 1)}">Pants</th>
                    <th th:text="${colors.getColorItem(player.character, 0, 2)}">Socks</th>
                    <th th:text="${colors.getColorItem(player.character, 0, 3)}">Shoes</th>
                    <th th:if="${player.gameId != 0}">Hair</th>
                    <th th:if="${player.gameId != 0}">Eyes</th>
                  </tr>
                  <tr>
                    <td>
	                  <select th:field="*{p1Color0}">
	                    <option th:each="color,iter : ${colors.getPalette(player.character, 0)}" th:text="${color}" th:value="${iter.index}">Red</option>
	                  </select>
	                </td>
                    <td>
	                  <select th:field="*{p1Color1}">
	                    <option th:each="color,iter : ${colors.getPalette(player.character, 0)}" th:text="${color}" th:value="${iter.index}">Green</option>
	                  </select>
	                </td>
                    <td>
	                  <select th:field="*{p1Color2}">
	                    <option th:each="color,iter : ${colors.getPalette(player.character, 0)}" th:text="${color}" th:value="${iter.index}">Blue</option>
	                  </select>
	                </td>
                    <td>
	                  <select th:field="*{p1Color3}">
	                    <option th:each="color,iter : ${colors.getPalette(player.character, 0)}" th:text="${color}" th:value="${iter.index}">Default</option>
	                  </select>
	                </td>
                    <td th:if="${player.gameId != 0}">
	                  <select th:field="*{p1Color4}">
	                    <option th:each="color,iter : ${colors.getHairPalette(player.character)}" th:text="${color}" th:value="${iter.index}">Blonde</option>
	                  </select>
	                </td>
                    <td th:if="${player.gameId != 0}">
	                  <select th:field="*{p1Color5}">
	                    <option th:each="color,iter : ${colors.getHairPalette(player.character)}" th:text="${color}" th:value="${iter.index}">Red</option>
	                  </select>
	                </td>
	              </tr>
	            </table>
          	</div>
          	<div th:unless="${advanced}">
				<label for="colors">P2 Colors</label>
                <table>
                  <tr>
                    <th th:text="${colors.getColorItem(player.character, 1, 0)}">Shirt</th>
                    <th th:text="${colors.getColorItem(player.character, 1, 1)}">Pants</th>
                    <th th:text="${colors.getColorItem(player.character, 1, 2)}">Socks</th>
                    <th th:text="${colors.getColorItem(player.character, 1, 3)}">Shoes</th>
                    <th th:if="${player.gameId != 0}">Hair</th>
                    <th th:if="${player.gameId != 0}">Eyes</th>
                  </tr>
                  <tr>
                    <td>
	                  <select th:field="*{p2Color0}">
	                    <option th:each="color,iter : ${colors.getPalette(player.character, 1)}" th:text="${color}" th:value="${iter.index}">Red</option>
	                  </select>
	                </td>
                    <td>
	                  <select th:field="*{p2Color1}">
	                    <option th:each="color,iter : ${colors.getPalette(player.character, 1)}" th:text="${color}" th:value="${iter.index}">Green</option>
	                  </select>
	                </td>
                    <td>
	                  <select th:field="*{p2Color2}">
	                    <option th:each="color,iter : ${colors.getPalette(player.character, 1)}" th:text="${color}" th:value="${iter.index}">Blue</option>
	                  </select>
	                </td>
                    <td>
	                  <select th:field="*{p2Color3}">
	                    <option th:each="color,iter : ${colors.getPalette(player.character, 1)}" th:text="${color}" th:value="${iter.index}">Default</option>
	                  </select>
	                </td>
                    <td th:if="${player.gameId != 0}">
	                  <select th:field="*{p2Color4}">
	                    <option th:each="color,iter : ${colors.getHairPalette(player.character)}" th:text="${color}" th:value="${iter.index}">Blonde</option>
	                  </select>
	                </td>
                    <td th:if="${player.gameId != 0}">
	                  <select th:field="*{p2Color5}">
	                    <option th:each="color,iter : ${colors.getHairPalette(player.character)}" th:text="${color}" th:value="${iter.index}">Red</option>
	                  </select>
	                </td>
	              </tr>
	            </table>
          	</div>
          	<div th:if="${advanced}">
          	  <label for="color">Raw Colors</label>
          	  <input type="text" th:field="*{color}" size="20" th:errorclass="fieldError" />
          	</div>
            <div th:unless="${advanced}">
                <label for="equip">P1 Equipment</label>
                <table>
                  <tr><th>Head</th><th>Face</th><th>Body</th><th>Legs</th></tr>
                  <tr>
                   <td>
	                <select th:field="*{p1HeadEquip}">
	                  <option th:each="entry : ${items.getHeadItems(player.character, false).entrySet()}" th:text="${entry.value}" th:value="${entry.key}">Sword</option>
	                </select>
	               </td>
                   <td>
	                <select th:field="*{p1FaceEquip}">
	                  <option th:each="entry : ${items.getFaceItems(player.character, false).entrySet()}" th:text="${entry.value}" th:value="${entry.key}">Sword</option>
	                </select>
	               </td>
                   <td>
	                <select th:field="*{p1BodyEquip}">
	                  <option th:each="entry : ${items.getBodyItems(player.character, false).entrySet()}" th:text="${entry.value}" th:value="${entry.key}">Sword</option>
	                </select>
	               </td>
                   <td>
	                <select th:field="*{p1LegsEquip}">
	                  <option th:each="entry : ${items.getLegsItems(player.character, false).entrySet()}" th:text="${entry.value}" th:value="${entry.key}">Sword</option>
	                </select>
	               </td>
                  </tr>
                  <tr>
                   <td>
	                <img th:src="@{${itemImageResolver.getImage(player.character, false, player.p1HeadEquip)}}" src="/images/items/nopic.gif" />
	               </td>
                   <td>
	                <img th:src="@{${itemImageResolver.getImage(player.character, false, player.p1FaceEquip)}}" src="/images/items/nopic.gif" />
	               </td>
                   <td>
	                <img th:src="@{${itemImageResolver.getImage(player.character, false, player.p1BodyEquip)}}" src="/images/items/nopic.gif" />
	               </td>
                   <td>
	                <img th:src="@{${itemImageResolver.getImage(player.character, false, player.p1LegsEquip)}}" src="/images/items/nopic.gif" />
	               </td>
	              </tr>
            	</table>
            </div>
            <div th:unless="${advanced}">
                <label for="equip">P2 Equipment</label>
                <table>
                  <tr><th>Head</th><th>Face</th><th>Body</th><th>Legs</th></tr>
                  <tr>
                   <td>
	                <select th:field="*{p2HeadEquip}">
	                  <option th:each="entry : ${items.getHeadItems(player.character, true).entrySet()}" th:text="${entry.value}" th:value="${entry.key}">Sword</option>
	                </select>
	               </td>
                   <td>
	                <select th:field="*{p2FaceEquip}">
	                  <option th:each="entry : ${items.getFaceItems(player.character, true).entrySet()}" th:text="${entry.value}" th:value="${entry.key}">Sword</option>
	                </select>
	               </td>
                   <td>
	                <select th:field="*{p2BodyEquip}">
	                  <option th:each="entry : ${items.getBodyItems(player.character, true).entrySet()}" th:text="${entry.value}" th:value="${entry.key}">Sword</option>
	                </select>
	               </td>
                   <td>
	                <select th:field="*{p2LegsEquip}">
	                  <option th:each="entry : ${items.getLegsItems(player.character, true).entrySet()}" th:text="${entry.value}" th:value="${entry.key}">Sword</option>
	                </select>
                   </td>
                  </tr>
                  <tr>
                   <td>
	                <img th:src="@{${itemImageResolver.getImage(player.character, true, player.p2HeadEquip)}}" src="/images/items/nopic.gif" />
	               </td>
                   <td>
	                <img th:src="@{${itemImageResolver.getImage(player.character, true, player.p2FaceEquip)}}" src="/images/items/nopic.gif" />
	               </td>
                   <td>
	                <img th:src="@{${itemImageResolver.getImage(player.character, true, player.p2BodyEquip)}}" src="/images/items/nopic.gif" />
	               </td>
                   <td>
	                <img th:src="@{${itemImageResolver.getImage(player.character, true, player.p2LegsEquip)}}" src="/images/items/nopic.gif" />
	               </td>
	              </tr>
                </table>
            </div>
            <div th:if="${advanced}">
                <label for="equip">Raw Equipment</label>
                <input type="text" th:field="*{equip}" size="16" /> (Experts only)
            </div>
            <div>
                <label for="emblem1">Emblem</label>
                <table>
	                <tr>
	                  <td>
		                <input type="text" th:field="*{emblem1}" size="2" />
		              </td>
		              <td>
		                <input type="text" th:field="*{emblem2}" size="2" />
		              </td>
		            </tr>
		            <tr>
		              <td>
		                <img th:src="@{${'/images/emblems/' + player.emblem1 + '.png'}}" src="/images/items/nopic.gif" width="64" height="64" />
		              </td>
		            </tr>
		        </table>
            </div>
            <div th:unless="${param.message == null}">
	          	<span th:text="${param.message}">changes saved</span>
            </div>
          	<div class="submit">
          	  <button type="submit" name="save">&nbsp;&nbsp;Save&nbsp;&nbsp;</button>
          	</div>
        </fieldset>
      </form>
    </div> 
    <div class="matchList"  th:unless="${#lists.isEmpty(matchList)}">
    	<h2>Match List</h2>
    	
      <table>
        <thead>
          <tr>
            <th>Date</th>
            <th>Winner</th>
            <th>Looser</th>
            <th>Chain of Win</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="match : ${matchList}">
            <td th:text="${match.endTime}">13/01/2011</td>
            <td>
            	<!-- a th:if="${match.winner.cardId != player.cardId}"
            	   th:href="@{player-view(id=${match.winner.cardId})}">
            	   <span th:text="${match.winner.ringName} ?: (none)">Joe</span></a>
                <span th:if="${match.winner.cardId == player.cardId}" th:text="${match.winner.ringName} ?: (none)">Jack</span -->
                <span th:text="${match.winner.ringName} ?: (none)">Jack</span>
            </td>
            <td>
            	<!-- a th:if="${match.looser.cardId != player.cardId}"
            	   th:href="@{player-view(id=${match.looser.cardId})}">
            	   <span th:text="${match.looser.ringName} ?: (none)">Joe</span></a>
                <span th:if="${match.looser.cardId == player.cardId}" th:text="${match.looser.ringName} ?: (none)">Jack</span -->
                <span th:text="${match.looser.ringName} ?: (none)">Jack</span>
            </td>
            <td th:text="${match.chainOfWin}">2</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="footer">
    	Source: Virtua Fighter 4 Evolution Complete Guide and virtuafighter.com<br>
    	Virtua Fighter and all related material © SEGA
    </div>
</body>
</html>