html {
  background-color: #f0f0f0;
}

body {
  font-family: 'DejaVu Sans', Arial, Helvetica;
  font-size: 12px;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  margin: 0px auto; 
  padding: 20px 20px; 
  width: 1050px;
}

h2 {
  margin-top: 20px;
  margin-bottom: 30px;
}

div.logo {
	margin: 0;
	margin-bottom: 20px;
	padding: 0;
}

div.logo h2 {
  margin-left: 15px;
  display: inline;
}

div.logo img {
	vertical-align: middle;
}

form fieldset {
  padding-top: 20px;
}

form fieldset > div {
  float: left;
  clear: left;
  width: 100%;
  padding-bottom: 1em;
}

form div > label:first-child {
  width: 150px;
  display: block;
  float: left;
  text-align: right;
  margin-right: 20px;
  line-height: 20px;
  padding: 0;
  font-weight: bold;
}

form div > input[type='file'] {
  height: 25px;
}

form div > input, form div > select {
  height: 20px;
  margin: 0px;
  padding: 0px;
}

form div > ul {
  list-style: none;
  padding: 0;
  vertical-align: top;
}

form div > ul li {
  padding: 0;
  margin-left: 270px;    
}

form div > span {
  height: 20px;
  margin-top: 2px;
  display: inline-block;
}

form div > table {
  padding: 0;
}

form div > table td, form div > table th {
  margin: 0;
  padding: 1px 10px;    
}

form div > table th {
  font-weight: bold;
  color: #000000;
}

form div > table td {
  text-align: center;
}

form div.submit {
  margin-top: 40px;
  background-color: #cc5533;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  border: 1px solid #000000;
}

form div.submit button {
  font-weight: bold;
  font-variant: small-caps;
}

div.matchList {
    
}

div.matchList > table {
  width: 100%;
  border: 1px solid #000;
  border-collapse: collapse;
}

div.matchList > table > tbody > tr > td, div.matchList > table > thead > tr > th {
  padding: 2px 10px;
  border-left: 1px dotted #000000;
  vertical-align: top;
  line-height: 20px;
}

div.matchList > table > tbody > tr, div.matchList > table > thead > tr {
  border-bottom: 1px solid #000000;
}

div.matchList > table th {
  color: #ffffff;
  background-color: #cc5533;
}

.fieldError {
    border: 1px solid red;
}

ul.errorlist {
    border: 1px dotted #333;
    margin: 10px 10px 50px 10px;
    padding: 10px;
}

ul.errorlist li {
    list-style: none;
    background-color: #f2d768;
    padding: 5px;
    margin: 3px 0px;
}

div.footer {
	text-align: center;
	color: #a0a0a0;
	margin-top: 20px;
}
